/* Produtos digitais links */

#container-links {
    padding: 8px;
    width: 100%;
    border-bottom: 3px solid #000000;
}

.container-links nav,
ul,
a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
}


/* Grid dos produtos/livros */
.container {
    background-color: #EEE;
    min-height: 75vh;
    padding: 50px;
}


.products-container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 30%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #0ba145;
}

/* Imagens */
#img-1 {
    background-image: url('imagens/acessibilidade-digital--img01.jpg');
}

#img-2 {
    background-image: url('imagens/acessibilidade-digital--02.png');
}

#img-3 {
    background-image: url('imagens/acessibilidade-digital--03.jpg');
}

h3 {
    margin-bottom: 15px;
    color: #3db36b;
    font-size: 20px;
    border-left: 5px solid #0f642f;
    padding-left: 7px;
}

.card p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #3db36b;
    color: #FFF;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
}

.btn:hover {
    background-color: #0f642f;
}


/* detalhes  */
.index-3-main h2 {
    margin-bottom: 20px;
    text-align: center;
}